.f_r_main_section {
    color: #ffffff;

    .how_it_works_box{
        min-height: 100px;
        //background: linear-gradient(90deg, #0f172a 0%, #1e293b 100%);
        background: var(--Neutral-Greys-900, #0F172A);

        .h_i_w_content_box{
            padding: 16px 12px;
            border-bottom: 1px solid #1e293b;
        }

        .h_title{
            color: #f4f4f6;
            font-size: 18px;
        }

        .h_content{
            color: #64748b;
            font-size: 14px;
        }

        .h_flow{
            padding: 16px;
        }

        .h_flow_text{
            margin-left: 12px;
            color: #f4f4f6;
            font-size: 14px;
        }

        .h_f_icon{
            width: 52px;
            height: 52px;
            background-repeat: no-repeat;
        }

        .i_f_icon_up {
            background-image: url('./img/i_f_icon_up.svg');
        }

        .i_f_icon_down {
            background-image: url('./img/i_f_icon_down.svg');
        }

        .i_f_icon_money {
            background-image: url('./img/i_f_icon_money.svg');
        }

        .i_f_icon_arrow {
            width: 58px;
            height: 8px;
            background-image: url('./img/i_f_icon_arrow.svg');
        }
    }


    .f_r_section_item{
        width: 550px;
        //background: linear-gradient(90deg, #0f172a 0%, #1e293b 100%);
        background: var(--Neutral-Greys-900, #0F172A);
    }

    .f_r_section_item_l{
        height: 320px;
    }

    .f_r_section_item_ll{
        width: 100%;
    }

    .f_r_section_item_s{
        height: 220px;
    }

    .f_r_section_item_content,
    .f_r_section_item_content_nb{
        padding: 16px 12px;
    }

    .f_r_section_item_content{
        border-bottom: 1px solid #1e293b;
    }



    .f_r_s_bg{
        background-color: #1e293b;
    }

    .f_r_title{
        color: #ffffff;
        font-size: 18px;
    }

    .f_r_title_w{
        width: 150px;
    }

    .f_r_s_title{
        color: #64748b;
    }

    .funding_fee_stats{
        .s_item{
            padding: 6px 12px;
            color: #ffffff;
            font-size: 13px;
            border-bottom: 1px solid #334155;
        }

        .s_item:last-child{
            border-bottom: 0px;
        }

        .s_item_token{
            width: 80px;
        }
        .s_item_metric{
            width: 205px;
        }
    }


    .f_risk_allocation{
        .allocation_box{
            width: 100%;
            height: 12px;

            .a_item{
                height: 12px;
            }

            .a_left{
                background-color: #8d6cea;
                border-radius:  900px 0 0 900px;
            }

            .a_right{
                background-color: #f09759;
                border-radius: 0 900px 900px 0;
            }
        }
    }

    .text_input.i_number_has_icon{
        padding: 10px;

        .text_input.i_number{
            padding: 0;
        }
    }

    .funding_rate_form{
        .f_r_section_item_content{
            padding: 16px 20px;
        }

        .f_r_section_item_content.tab_box{
            padding-bottom: 0px;
        }

        .form_box{
            height: 300px;
        }

        .deposit_tips_box{
            padding: 8px;
            background-color: #171d30;

            .index_box{
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-left: 15px;
                margin-right: 5px;
                border-radius: 10px;
                background-color: #334155;
                color: #ffffff;
                font-size: 10px;
                text-align: center;
            }
            .index_box:first-child{
                margin-left: 0px;
            }
        }
    }

    .profit_calculator{
        .input_amount{
            width: 230px;
        }

        .input_rate{
            width: 132px;
        }

        .input_deposit_length{
            width: 132px;
        }

        .input_split{
            width: 25px;
        }


        .day_option_item{
            padding: 4px 8px;
            background-color: #1e293b;
            color: #64748b;
            font-size: 12px;
        }

        .day_option_item.active{
            background-color: #334155;
            color: #ffffff;
        }

        @supports (mask-image:paint(id)) or (-webkit-mask-image:paint(id)) {
            .day_option_item.active.squircle_border::after{
                background: #eff6ff;
            }
        }

        @supports not ((mask-image:paint(id)) or (-webkit-mask-image:paint(id))) {
            .day_option_item.active.squircle_border::after{
                border: 1px solid #eff6ff;
            }
        }

        .profit_calculator_days{
            border-left: 1px solid #1e293b;
        }

        .estimated_pnl{
            min-width: 315px;
            color: #64748b;
            font-size: 14px;
            text-transform: uppercase;

            .txt{
                font-style: italic;
            }
        }
    }

    .my_staking_metrics_box{
        padding: 35px 25px;

        .m_s_m_item{
            .c_text{
                font-size: 16px;
            }

            .c_hl{
                font-size: 20px;
            }
        }

        @media screen and (max-width: 768px) {
            padding: 35px 16px;

            .m_s_m_item{
                width: 130px;

                .c_text{
                    font-size: 14px;
                }

                .c_hl{
                    font-size: 16px;
                }
            }
        }
    }

    .staking_list_box{
        width: 100%;

        @media screen and (max-width: 768px) {
            width: 90%;
        }
    }

    .staking_record_item,
    .redeem_record_item{
        align-items: center;
        padding: 10px 20px;

        @media screen and (max-width: 768px) {
            padding: 10px 13px;

            .metric{
                width: 130px;
            }

            .tag{
                width: auto;
                padding: 6px 12px;
                background: var(--neutral-n-6, #1e293b);
            }
        }
    }

    .my_staking_table,
    .my_redeem_table{
        .staking_type{
            width: 100px;
        }

        .staking_id{
            width: 80px;
            margin-left: 5px;
        }

        .staking_amount{
            width: 100px;
        }

        .redeem_amount{
            width: 150px;
        }

        .staking_deposited{
            width: 100px;
        }

        .staking_release_time{
            width: 100px;
        }

        .staking_lock_duration{
            width: 100px;
        }

        .staking_rewards{
            width: 120px;
        }

        .staking_operations{
            width: 200px;
        }

        .redeem_request_operations{
            width: 350px;
        }
    }

    .my_staking_table{
        .staking_type{
            width: 100px;
        }

        .staking_id{
            width: 50px;
            margin-left: 5px;
        }

        .staking_amount{
            width: 100px;
        }

        .redeem_amount{
            width: 130px;
        }

        .staking_deposited{
            width: 100px;
        }

        .staking_release_time{
            width: 80px;
        }

        .staking_lock_duration{
            width: 100px;
        }

        .staking_rewards{
            width: 120px;
        }

        .staking_operations{
            width: 270px;
        }
    }

    .tag{
        width: 100%;
        padding: 6px 12px;
        background-color: #1e293b;
    }

    .staking_list_btn{
        padding: 12px 20px;
        background-color: #f8fafc;
        color: #1e293b;
    }

    .staking_list_btn.disable{
        background-color: #1e293b;
        color: #64748b;
        cursor: not-allowed;
    }

    .days_left_tag{
        padding: 12px 12px;
        background-color: #1e293b;
        color: #f8fafc;
    }
}

.theme_light {
    .f_r_main_section {
        .how_it_works_box,
        .f_r_section_item{
            background: #f1f5f9;

            .h_i_w_content_box{
                border-bottom: 1px solid #e2e8f0;
            }

            .h_title{
                color: #010207;
            }

            .h_flow_text{
                color: #010207;
            }

            .i_f_icon_up {
                background-image: url('./img/i_f_icon_up_l.svg');
            }

            .i_f_icon_down {
                background-image: url('./img/i_f_icon_down_l.svg');
            }

            .i_f_icon_money {
                background-image: url('./img/i_f_icon_money_l.svg');
            }

            .i_f_icon_arrow {
                width: 58px;
                height: 8px;
                background-image: url('./img/i_f_icon_arrow_l.svg');
            }
        }

        .f_r_section_item_content{
            border-bottom: 1px solid #e2e8f0;
        }


        .f_r_s_bg{
            background-color: #e2e8f0;
        }

        .f_r_title{
            color: #010207;
        }

        .f_r_s_title{
            color: #64748b;
        }


        .funding_fee_stats{
            .s_item{
                color: #010207;
                border-bottom: 1px solid #cbd5e1;
            }

            .s_item:last-child{
                border-bottom: 0px;
            }
        }



        .funding_rate_form{
            .deposit_tips_box{
                background-color: #eff6ff;

                .index_box{
                    background-color: #cbd5e1;
                    color: #010207;
                }
            }
        }

        .profit_calculator{
            .day_option_item{
                background-color: #e2e8f0;
                color: #64748b;
            }

            .day_option_item.active{
                background-color: #cbd5e1;
                color: #010207;
            }

            @supports (mask-image:paint(id)) or (-webkit-mask-image:paint(id)) {
                .day_option_item.active.squircle_border::after{
                    background: #171d30;
                }
            }

            @supports not ((mask-image:paint(id)) or (-webkit-mask-image:paint(id))) {
                .day_option_item.active.squircle_border::after{
                    border: 1px solid #171d30;
                }
            }

            .profit_calculator_days{
                border-left: 1px solid #e2e8f0;
            }

            .estimated_pnl{
                color: #010207;
            }
        }

        .staking_list_btn{
            background-color: #e2e8f0;
            color: #1e293b;
            @media screen and (max-width: 768px) {
                background-color: #e2e8f0;
            }
        }

        .staking_list_btn.disable{
            background-color: #e2e8f0;
            color: #64748b;
            @media screen and (max-width: 768px) {
                background-color: #e2e8f0;
            }
        }

        .days_left_tag{
            background-color: #e2e8f0;
            color: #1e293b;
        }

        .staking_record_item,
        .redeem_record_item{
            color: #010207;

            @media screen and (max-width: 768px) {
                .tag{
                    background: var(--neutral-n-6, #e2e8f0);
                }
            }
        }
    }
}