/**
 * @Author: DAPP
 * @Date:   2021-09-03 22:18:51
 * @Last Modified by:   DAPP
 * @Last Modified time: 2021-09-16 22:43:20
 */
.copy_address_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    .ca_txt {
        min-width: 90px;
        margin-left: 8px;
        color: #ffffff;
        font-size: 14px;
        line-height: 20px;

        @media screen and (max-width: 769px) {
            font-size: 12px;
        }
    }
}

.default_container,
.default_container_p,
.bg_tag_hover,
.bg_container,
.overlay_container{
    .ca_icon,
    .ca_icon_copied {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url('./img/i_copy.svg');
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.theme_light {
    .bg_container,
    .bg_tag_hover,
    .default_container,
    .default_container_p,
    .overlay_container{
        .ca_icon,
        .ca_icon_copied {
            background-image: url('./img/i_copy_l.svg');
        }
    }

    .ca_txt {
        color: #64748b;
    }
}