.page_404 {
    .back_btn{
        width: 230px;
        height: 38px;
        background-color: #3b82f6;
        color: #f8fafc;
        line-height: 38px;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
    }
}
